*{
    margin:0;
    outline: none;
}

body{
    
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 25px;
width: 200px;



}

h1{
    font-size: 30px;
    padding: 5px 10px;
}

label,select,button{
    margin-top:10px;
    width: 100%;
}
select{
    padding: 5px;
    font-size: 14px;
    cursor: pointer;

}

button{
    background-color: rgb(240, 118, 12);

    padding:10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-family:monospace;
    cursor: pointer;
}

button:hover{
        background-color: orange;


}

